<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
 
  <title>www.dosyaykl.tk</title>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Cloud_upload_font_awesome.svg/512px-Cloud_upload_font_awesome.svg.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <style>
    .center {
      margin: auto;
      padding: 10px;
    }
  </style>
</head>
<body>  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <div class="container">
    <div class="center">
      <h1>!Dosya Yükle!</h1>
    </div>
   
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn orange">
          <span>Yükle!</span>
          <input name="dosya" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Başlat!</button>
    </form>
    <br>
      <a target="_blank" href="<%= typeof url != 'undefined' ? url : '' %>"><%= typeof url != 'undefined' ? url : '' %></a>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
  <script type="text/javascript">
    function IE(e) {
      if (navigator.appName == "Microsoft Internet Explorer" && (event.button == "2" || event.button == "3")) {
        Toastify({ text: `Sağtık Engellendi!`, duration: 3000, style: { background: "linear-gradient(to right, #00b09b, #96c93d)" } }).showToast();
        return false;
      }
    }
    function NS(e) {
      if (document.layers || (document.getElementById && !document.all)) {
        if (e.which == "2" || e.which == "3") {
          Toastify({ text: `Sağtık Engellendi!`, duration: 3000, style: { background: "linear-gradient(to right, #00b09b, #96c93d)" } }).showToast();
          return false;
        }
      }
    }
    document.onmousedown=IE;document.onmouseup=NS;document.oncontextmenu=new Function("return false");
    $(function(){
      $(document).on("keydown",window,function(a){
        if (a.which == 123) return false;
      })
    })
    new Darkmode().showWidget();
  </script>
</body>
</html>
